{% extends 'base.html' %}
{% block content %}
<main>
    <section class="content">
        <h1>Составление перехода на орбиты</h1>
        {% if num_of_orbits > 0%}   
            <form>
            <div class="date-container">
                <h2 class="spacecraft">Космический аппарат: <input type="text" value="{{ transition.spacecraft }}"></h2>

                <h2 class="date">Дата перехода: <input type="text" value='{{ transition.planned_date|date:"d.m.Y" }}'></h2>
                <h2 class="date">Время перехода: <input type="text" value='{{ transition.planned_time|time:"H:i:s" }}'></h2>
            </div>
        </form>
            <div class="orbit-info">
                {% for orbit in orbits %}
                <a href="/orbits/{{ orbit.id }}/" class="orbit-link">
                <div class="orbit-item">
                    <img src="{{ orbit.image }}" alt="Орбита {{ orbit.height }}} км">
                    <div class="info">
                        <h2>Высота {{ orbit.height }} км</h2>
                        <p>{{ orbit.short_description }}</p>
                    </div>
                </div>
                </a>
                <hr class="separator">
                {% endfor %}
            </div>
            <h2>Количество орбит, используемых в переходе: {{ num_of_orbits }}</h2>
            <form method="post" action="/transition/{{ transition.id }}/delete/">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Удалить переход</button>
            </form>

        </section>
    {% else %}
        <h4> {{ error }}</h4>
    {% endif %}

</main>
{% endblock %}